langchain
langchain-community
langchain-huggingface
sentence-transformers
transformers
faiss-cpu
torch
accelerate
chromadb
ipykernel
huggingface_hub[hf_xet]
bs4
unstructured
langgraph
ipywidgets
libmagic 
langchain_chroma
tqdm